
*~
*-
*.o
*/build/*
*/_build/*
*/build10/*
*/*/build10/*
*/*/build/*
*/*/_build/*
*swp
build/*
_build/*
.directory
*.kdev4
.kdev4/*
msvc/*
cbuilder/*
*/cbuilder/*
*.backup
*.dll
*.exe
*.lib
*.ilk
*.pdb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.sdf
*.suo
*.cache
*.log
*.tlog
*.txt.user
*.DS_Store
*/.DS_Store
